.hero--secondary {
  --mask: radial-gradient(
    circle at var(--x, 10%) var(--y, 10%),
    black var(--maskSize1, 0),
    transparent 0
  );

  background: linear-gradient(45deg, #40e0d0, #9932cc, #ff1493, orange);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}
/* 
.btn-txt {
  background-color: white !important;

  background: linear-gradient(45deg, #40e0d0, #9932cc, #ff1493, orange);
  -webkit-background-clip: text;
  background-clip: text;
} */

.text {
  position: relative;
  background: linear-gradient(45deg, #40e0d0, #9932cc, #ff1493, orange);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.text::before {
  content: "DANIEL ALIPHON";
  color: white;
  position: absolute;
  bottom: -5px;
  right: -5px;
}
