@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Handlee&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mooli&family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&family=Tilt+Neon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 260px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-secondary {
  --mask: radial-gradient(
    circle at var(--x, 10%) var(--y, 10%),
    rgb(0, 0, 0) var(--maskSize1, 0),
    transparent 0,
    transparent var(--maskSize2, 0),
    black var(--maskSize2, 0),
    black var(--maskSize3, 0),
    transparent 0
  );

  background: linear-gradient(45deg, #6ec3ff, #0066ff, #0066ff, #6ec3ff);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}
.hero-tertiary {
  --mask: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    black var(--maskSize1, 0),
    transparent 0
  );

  background: linear-gradient(45deg, #6ec3ff, #0066ff, #0066ff, #6ec3ff);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}
