body {
  background-color: rgb(13, 17, 22);
}

.mad::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 50px;
  width: 130%;
  top: 100%;
  left: 50%;
  border-radius: 0 0 30px 30px;
  transform: translate(-50%, 0);
}

.monitor {
  width: 600px;
  height: 400px;
  margin: 0px auto;
  box-sizing: border-box;
  background-color: #0066ff;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  overflow: hidden;
  position: relative;
  margin-top: 70px;
}
.monitor:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #5abe86;
  left: 50%;
  top: 1%;
}
.keyboard {
  width: 720px;
  height: 20px;
  margin: 0 auto;
  background-color: #5cbd87;
  position: relative;
}
.keyboard:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 10px;
  background-color: #0066ff;
  border-radius: 40px;
  left: 42%;
}
.keyboard-backpart {
  width: 700px;
  height: 20px;
  margin: 0 auto;
  background-color: #0066ff;
  position: relative;
  transform: perspective(14em) rotateX(-42deg);
  margin-top: -3px;
}
.square-display {
  width: 560px;
  height: 360px;
}
