@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Handlee&family=Montserrat+Alternates:wght@800&family=Mooli&family=Palanquin:wght@500&family=Unbounded&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100dvh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 260px;
}

body::-webkit-scrollbar {
  display: none;
}

@layer base {
  html {
    font-family: "Mooli", sans-serif;
    font-family: "Handlee", cursive;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hiddenn {
  visibility: hidden;
}

.hd {
  shape-outside: circle(50%);
}
.hdd {
  shape-margin: 10000px;
}
.bgg:hover .circlee {
  transform: translate(9.5px, 9.5px);
}

.aliphon {
  text-shadow: white 5px 0px;
}
.daniel {
  text-shadow: white -5px 0px;
}
.hero-text {
  text-shadow: #0066ff 2px -2px;
}

.hero-secondary {
  --mask: radial-gradient(
    circle at var(--x, 10%) var(--y, 10%),
    rgb(0, 0, 0) var(--maskSize1, 0),
    transparent 0,
    transparent var(--maskSize2, 0),
    black var(--maskSize2, 0),
    black var(--maskSize3, 0),
    transparent 0
  );

  background: linear-gradient(45deg, #6ec3ff, #0066ff, #0066ff, #6ec3ff);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}
.hero-tertiary {
  --mask: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    black var(--maskSize1, 0),
    transparent 0
  );

  background: linear-gradient(45deg, #6ec3ff, #0066ff, #0066ff, #6ec3ff);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}
