@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Handlee&family=Montserrat+Alternates:wght@500&family=Mooli&family=Palanquin:wght@500&family=Unbounded&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100dvh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-family: "Concert One", cursive; */
  font-family: "Handlee", cursive; /* font-family: "Montserrat Alternates", sans-serif; gross */
  /* font-family: "Mooli", sans-serif; */
  /* font-family: "Palanquin", sans-serif; */
  /* font-family: "Unbounded", sans-serif; */
}
.hero {
  color: #0066ff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1px;
}
.hero--secondary {
  --mask: radial-gradient(
    circle at var(--x, 10%) var(--y, 10%),
    black var(--maskSize1, 0),
    transparent 0
  );

  background: #0066ff;
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}
.hero--tertiary {
  --mask: radial-gradient(
    circle at var(--x, 10%) var(--y, 10%),
    black var(--maskSize1, 0),
    transparent 0
  );

  background: #0066ff;
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}

.haha {
  background-image: url("./assets/header.svg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.haha2 {
  background-image: url("./assets/header2.svg");
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
